.search {
  font-family: CourierNewPSMT;
  font-weight: 14;

  input {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.25);
    color: #333537;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    padding: 16px;
    width: 60%;
  }
}
